@media screen and (hover: none) and (pointer: coarse) {
    body {
        margin: 60px auto 90px;
        font-size: 15px;
    }

    #titleArea p:nth-child(1) {
        font-size: 18px;
    }

    #titleArea p:nth-child(2) {
        font-size: 90px;
    }
}

@media screen and (hover: hover) and (pointer: fine),
(hover: none) and (pointer: coarse) and (min-width: 500px) {
    body {
        margin: 100px auto 150px;
        font-size: 17px;
    }

    #titleArea p:nth-child(1) {
        font-size: 25px;
    }

    #titleArea p:nth-child(2) {
        font-size: 130px;
    }
}

* {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    -webkit-tap-highlight-color: transparent;
}

body {
    width: 95%;
    font-family: Lora, serif;
    text-align: center;
}

#titleArea {
    margin: auto auto 20px;
    white-space: nowrap;
}

#titleArea p:nth-child(1) {
    font-family: PlayfairDisplay, serif;
    transform: scale(1.05, 1);
    background: linear-gradient(to right, #36648B 0%, #4F94CD 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#titleArea p:nth-child(2) {
    margin: 30px auto 0;
    font-family: FairProsper, serif;
    background: linear-gradient(to right, #36648B 0%, #4F94CD 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}