@media screen and (hover: none) and (pointer: coarse) {
    #intro {
        width: 83%;
        margin: auto auto 45px;
        position: relative;
        left: -1px;
        font-size: 15px;
    }

    #intro::first-letter {
        margin: -3px 12px 0 0;
        font-size: 85px;
        line-height: 75px;
    }
}

@media screen and (hover: hover) and (pointer: fine),
(hover: none) and (pointer: coarse) and (min-width: 500px) {
    #intro {
        width: 550px;
        margin: auto auto 70px;
        font-size: 17px;
    }

    #intro::first-letter {
        margin: -6px 12px 0 0;
        font-size: 100px;
        line-height: 90px;
    }
}

#intro {
    font-family: Lora, serif;
    line-height: 1.6;
    text-align: justify;
}

#intro::first-letter {
    float: left;
    color: #4079a8;
}