@media screen and (hover: none) and (pointer: coarse) {
    #serviceArea {
        width: 95%;
        margin: auto;
    }

    #serviceHead {
        width: 100%;
        margin: auto auto 20px;
        border-radius: 5px;
    }
}

@media screen and (hover: hover) and (pointer: fine),
(hover: none) and (pointer: coarse) and (min-width: 500px) {
    #serviceArea {
        width: 700px;
        margin: auto;
    }

    #serviceHead {
        width: 100%;
        margin: auto auto 20px;
        border-radius: 5px;
    }
}

#serviceBody {
    width: 100%;
    margin: auto auto 25px;
}

#service {
    margin: auto auto 15px;
    padding: 15px 0 2px;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#serviceVI {
    margin: auto auto -8px;
    font-size: 15px;
    color: #376891;
}

#serviceEN {
    font-size: 13px;
}