@font-face {
    font-family: 'PlayfairDisplay';
    src: url('asset/PlayfairDisplay.ttf');
}

@font-face {
    font-family: 'TimesNewRoman';
    src: url('asset/TimesNewRoman.ttf');
}

@font-face {
    font-family: 'FairProsper';
    src: url('asset/FairProsper.ttf')
}

@font-face {
    font-family: 'RobotoSlab';
    src: url('asset/RobotoSlab.ttf')
}

* {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container-fluid{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 2cm;
}

body {
    margin: auto;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    font-family: PlayfairDisplay, serif;
    font-size: 17px;
    transform: scale(1.05, 1);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}