@media only screen and (max-width: 500px) {
    #intro {
        width: 85%;
        font-size: 16px;
        margin: auto auto 60px;
    }

    #intro::first-letter {
        margin: -7px 8px 0 0;
        float: left;
        font-size: 85px;
        line-height: 95%;
        color: #36648B;
    }
}

@media only screen and (min-width: 500px) {
    #intro {
        width: 500px;
        font-size: 17px;
        margin: auto auto 70px;
    }

    #intro::first-letter {
        margin: -10px 10px 0 0;
        float: left;
        font-size: 93px;
        line-height: 95%;
        color: #36648B;
    }
}

#intro {
    line-height: 1.6;
    text-align: justify;
    font-family: Lora, serif;
    transform: scale(0.95, 1);
}