@media only screen and (max-width: 600px) {
    #intro {
        width: 70%;
        left: 7px;
        font-size: 15px;
        margin: 20px auto 60px;
    }

    blockquote:before, blockquote:after {
        position: absolute;
        color: #78a6ce;
        font-size: 80px;
    }

    blockquote:before {
        content: '“';
        left: -40px;
        top: -50px;
    }

    blockquote:after {
        content: '”';
        right: -25px;
        top: 50px;
    }
}

@media only screen and (min-width: 600px) {
    #intro {
        width: 500px;
        font-size: 17px;
        margin: 20px auto 70px;
    }

    blockquote:before, blockquote:after {
        position: absolute;
        color: #78a6ce;
        font-size: 80px;
    }

    blockquote:before {
        content: '“';
        left: -50px;
        top: -50px;
    }

    blockquote:after {
        content: '”';
        right: -45px;
        top: 30px;
    }
}

#intro {
    line-height: 1.6;
}

blockquote {
    max-width: max-content;
    position: relative;
}