@media only screen and (max-width: 500px) {
    #intro {
        width: 83%;
        font-size: 15px;
        margin: auto auto 60px;
    }

    #intro::first-letter {
        margin: -3px 12px 0 0;
        font-size: 85px;
        line-height: 75px;
    }
}

@media only screen and (min-width: 500px) {
    #intro {
        width: 550px;
        font-size: 17px;
        margin: auto auto 70px;
    }

    #intro::first-letter {
        margin: -8px 12px 0 0;
        font-size: 100px;
        line-height: 90px;
    }
}

#intro {
    line-height: 1.6;
    text-align: justify;
    font-family: Lora, serif;
}

#intro::first-letter {
    float: left;
    color: #36648B;
}