@media only screen and (max-width: 600px) {
    body, nav a, td {
        font-size: 14px;
    }

    #titleArea p:nth-child(1) {
        font-size: 18px;
    }

    #titleArea p:nth-child(2) {
        font-size: 80px;
    }

    nav {
        width: 400px;
    }

    nav a {
        width: 25%;
        padding: 10px 0;
    }

    tr:first-child td:first-child {
        font-size: 17px;
    }

    tr:first-child td:first-child {
        width: 120px;
    }

    td {
        width: 120px;
    }
}

@media only screen and (min-width: 600px) {
    body, nav a, td {
        font-size: 17px;
    }

    #titleArea p:nth-child(1) {
        font-size: 25px;
    }

    #titleArea p:nth-child(2) {
        font-size: 120px;
    }

    nav {
        width: 700px;
    }

    nav a {
        width: content-box;
        padding: 10px 0;
    }

    tr:first-child td:first-child {
        font-size: 20px;
    }

    tr:first-child td:first-child {
        width: 240px;
    }

    td {
        width: 240px;
    }
}