@media only screen and (max-width: 500px) {
    #serviceArea {
        width: 100%;
    }

    td {
        width: 40%;
        font-size: 15px;
    }

    tr:first-child td:first-child {
        width: 40%;
        font-size: 20px;
    }
}

@media only screen and (min-width: 500px) {
    #serviceArea {
        width: 700px;
    }

    td {
        width: 60%;
        font-size: 17px;
    }

    tr:first-child td:first-child {
        width: 60%;
        font-size: 23px;
    }
}

#serviceArea {
    margin: auto;
}

table {
    width: 95%;
    margin: auto;
    padding-bottom: 15px;
}

td {
    margin: 20px;
    padding: 10px 15px;
    text-align: left;
    border: 1px solid gray;
    border-radius: 3px;
    background: red;
}

tr:first-child td:first-child {
    font-family: PlayfairDisplay, serif;
    transform: scale(1.05, 1);
    text-align: center;
    border: none;
}