@media only screen and (max-width: 500px) {
    #serviceArea {
        width: 100%;
    }

    #serviceHeader {
        width: 100%;
        border-radius: 5px;
    }

    #serviceTable td {
        width: 40%;
        font-size: 15px;
    }
}

@media only screen and (min-width: 500px) {
    #serviceArea {
        width: 700px;
    }

    #serviceHeader {
        width: 700px;
        border-radius: 5px;
    }

    #serviceTable td {
        width: 60%;
        font-size: 17px;
    }
}

#serviceArea {
    width: 95%;
    margin: auto;
}

#serviceTable {
    width: 100%;
    margin: auto;
    padding-bottom: 15px;
    border-spacing: 0 10px;
}

#serviceTable td {
    margin: 20px;
    padding: 10px 15px;
    text-align: left;
    border: 1px solid darkgray;
    border-radius: 3px;
}