@media only screen and (max-width: 500px) {
    #serviceArea {
        width: 95%;
        margin: auto;
    }

    #serviceHead {
        width: 100%;
        margin: auto auto 15px;
        border-radius: 5px;
    }
}

@media only screen and (min-width: 500px) {
    #serviceArea {
        width: 700px;
        margin: auto;
    }

    #serviceHead {
        width: 100%;
        margin: auto auto 15px;
        border-radius: 5px;
    }
}

#serviceBody {
    margin: auto auto 35px;
}

#service {
    height: max-content;
    margin: auto auto 15px;
    padding: 15px 0 2px;
    text-align: center;
    border: 1px solid #b1c7d9;
    border-radius: 3px;
}

#serviceVI {
    margin: auto auto -8px;
    font-size: 15px;
    color: #376891;
}

#serviceEN {
    font-size: 13px;
}